//== Forms
//

// Fields (checkboxes)
.mp-quick-field {
	
	&-inline-block {
		display: inline-block;
		width: 100%;
		
		.psource-field-label {
			display: inline-block;
			margin-right: $space--xs;
		}
	}
	
}